/* Tip, copy paste from 13c.01.01 & 13c.01.02 to get fonts and colors up and running ... */
/* Deep-purple Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #5e35b1;
  --primary-hover: #512da8;
  --primary-focus: rgba(94, 53, 177, 0.125);
  --primary-inverse: #fff;
}

/* Deep-purple Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #5e35b1;
    --primary-hover: #673ab7;
    --primary-focus: rgba(94, 53, 177, 0.25);
    --primary-inverse: #fff;
  }
}

/* Deep-purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #5e35b1;
  --primary-hover: #673ab7;
  --primary-focus: rgba(94, 53, 177, 0.25);
  --primary-inverse: #fff;
}

/* Deep-purple (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

.header_graphics {
  background-image: url(img/tech.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 6%;
  width: 100%;
  height: auto;
}

.advantages_card_graphics {
  background-image: url(img/tablet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 6%;
  width: 100%;
  height: 30vh;
}

.product_graphics {
  background-image: url(img/people.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 6%;
  width: 100%;
  height: 30vh;
}

#woman {
  background-image: url(img/woman.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 6%;
  width: 100%;
  height: 100%;
}

#man {
  background-image: url(img/man.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 6%;
  width: 100%;
  height: 100%;
}

#contact_form .container {
  max-width: 50vw;
}

.product_text > .container {
  max-width: 40ch;
}
